<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.firzjb.dataservice.mapper.ServiceMonitorMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.MONITOR_ID AS monitorId
        , a.ORGANIZER_ID AS organizerId
        , a.SERVICE_ID AS serviceId
        , di.SERVICE_NAME AS serviceName
        , a.START_TIME AS startTime
        , a.END_TIME AS endTime
        , a.STATUS AS status
        , a.SERVICE_USER_ID AS serviceUserId
        , du.USERNAME AS username
        , du.SYSTEM_NAME AS systemName
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>


    <sql id="Base_Joins">
        JOIN DATASERVICE_USER du  on a.SERVICE_USER_ID = du.USER_ID
        JOIN DATASERVICE_INTERFACE di  on a.SERVICE_ID = di.SERVICE_ID
    </sql>


    <select id="findList"  resultType="org.firzjb.dataservice.entity.ServiceMonitor">
        select
        <include refid="Base_Column_List"/>
        from DATASERVICE_MONITOR a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId != null ">
                AND a.ORGANIZER_ID = #{organizerId}
            </if>
            <if test="serviceName != null and serviceName != '' ">
                AND di.SERVICE_NAME like  '%${serviceName}%'
            </if>
        </where>
    </select>

    <update id="deleteById">
        update DATASERVICE_MONITOR a set a.DEL_FLAG = 1  where a.MONITOR_ID = #{id}
    </update>
</mapper>
