<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.firzjb.dataservice.mapper.PublishInterfaceMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.SERVICE_ID AS serviceId
        , a.INTERFACE_TYP AS interfaceTyp
        , a.ORGANIZER_ID AS organizerId
        , a.SERVICE_NAME AS serviceName
        , a.SERVICE_IDENTIFY AS serviceIdentify
        , a.SERVICE_URL AS serviceUrl
        , a.JOB_TYPE AS jobType
        , a.TRANS_NAME AS transName
        , a.RETURN_TYPE AS returnType
        , a.DATASOURCE AS datasource
        , a.TIMEOUT AS timeout
        , a.IS_COMPRESS AS isCompress
        , a.ID_DATABASE AS databaseId
        , db.name AS databaseName
        , a.SCHEMA_NAME AS schemaName
        , a.TABLE_NAME AS tableName
        , a.DELIMITER AS delimiter
        , a.FIELDS AS fields
        , a.CONDITIONS AS conditions
        , a.INTERFACE_DESC AS interfaceDesc
        , a.JOB_CONFIG_ID AS jobConfigId
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>

    <sql id="Base_Joins">
        LEFT JOIN R_DATABASE db on a.ID_DATABASE = db.ID_DATABASE
    </sql>

    <select id="findList"  resultType="org.firzjb.dataservice.entity.ServiceInterface">
        select
        <include refid="Base_Column_List"/>
        from DATASERVICE_INTERFACE a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId != null ">
                AND a.ORGANIZER_ID = #{organizerId}
            </if>
            <if test="returnType != null ">
                AND a.RETURN_TYPE = #{returnType}
            </if>

            <if test="serviceName != null and serviceName!=''">
                AND a.SERVICE_NAME like  '%${serviceName}%'
            </if>

        </where>
    </select>

    <update id="deleteById">
        update DATASERVICE_INTERFACE a set a.DEL_FLAG = 1  where a.SERVICE_ID = #{id}
    </update>

</mapper>
