.idea/
*.DS_Store
*.iml
*.classpath
*.project
*.class
*.settings
*/target/
*/test/
/WebContent/plugins
platform-generator/
platform-admin/src/main/resources/config
platform-admin/src/main/webapp/plugins
