<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.firzjb.translog.mapper.LogTransStepMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          LOG_STEP_ID AS logStepId
        , LOG_TRANS_ID AS logTransId
        , CHANNEL_ID AS channelId
        , LOG_DATE AS logDate
        , TRANSNAME AS transname
        , STEPNAME AS stepname
        , STEP_COPY AS stepCopy
        , LINES_READ AS linesRead
        , LINES_WRITTEN AS linesWritten
        , LINES_UPDATED AS linesUpdated
        , LINES_INPUT AS linesInput
        , LINES_OUTPUT AS linesOutput
        , LINES_REJECTED AS linesRejected
        , ERRORS AS errors
        , SETP_LOG AS setpLog
        , COSTTIME AS costtime
        , SPEED AS speed
        , STATUS AS status
    </sql>

    <insert id="insert">
        insert into LOG_TRANS_STEP (
              LOG_STEP_ID
            , LOG_TRANS_ID
            , CHANNEL_ID
            , LOG_DATE
            , TRANSNAME
            , STEPNAME
            , STEP_COPY
            , LINES_READ
            , LINES_WRITTEN
            , LINES_UPDATED
            , LINES_INPUT
            , LINES_OUTPUT
            , LINES_REJECTED
            , ERRORS
            , SETP_LOG
            , COSTTIME
            , SPEED
            , STATUS
        )values(
              #{logStepId}
            , #{logTransId}
            , #{channelId}
            , #{logDate}
            , #{transname}
            , #{stepname}
            , #{stepCopy}
            , #{linesRead}
            , #{linesWritten}
            , #{linesUpdated}
            , #{linesInput}
            , #{linesOutput}
            , #{linesRejected}
            , #{errors}
            , #{setpLog}
            , #{costtime}
            , #{speed}
            , #{status}
        )
    </insert>

    <update id="updateById">
        update LOG_TRANS_STEP
        <set>

              LOG_TRANS_ID = #{et.logTransId}
            , CHANNEL_ID = #{et.channelId}
            , LOG_DATE = #{et.logDate}
            , TRANSNAME = #{et.transname}
            , STEPNAME = #{et.stepname}
            , STEP_COPY = #{et.stepCopy}
            , LINES_READ = #{et.linesRead}
            , LINES_WRITTEN = #{et.linesWritten}
            , LINES_UPDATED = #{et.linesUpdated}
            , LINES_INPUT = #{et.linesInput}
            , LINES_OUTPUT = #{et.linesOutput}
            , LINES_REJECTED = #{et.linesRejected}
            , ERRORS = #{et.errors}
            , SETP_LOG = #{et.setpLog}
            , COSTTIME = #{et.costtime}
            , SPEED = #{et.speed}
            , STATUS = #{et.status}

        </set>
        where LOG_STEP_ID = #{et.logStepId}
    </update>

</mapper>
