<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataquality.mapper.RuleMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.RULE_ID AS ruleId
        , a.ORGANIZER_ID AS organizerId
        , a.RULE_GROUP_ID AS ruleGroupId
        , b.GROUP_NAME AS ruleGroupName
        , a.DESCRIPTION AS description
        , a.RULE_TYPE AS ruleType
        , a.DATABASE_ID AS databaseId
        , d.DATABASE_NAME AS databaseName
        , a.SCHEMA_NAME AS schemaName
        , a.TABLE_NAME AS tableName
        , a.FIELD_NAME AS fieldName
         , a.FIELD_TYPE AS fieldType
        , a.IS_ENABLE AS isEnable
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>
    <sql id="Base_Joins">
       JOIN DATA_QUALITY_RULE_GROUP b ON a.RULE_GROUP_ID = b.GROUP_ID and b.DEL_FLAG = 0
       JOIN R_DATABASE d ON a.DATABASE_ID = d.ID_DATABASE
    </sql>

    <select id="findList"  resultType="com.aofei.dataquality.entity.Rule">
        select
        <include refid="Base_Column_List"/>
        from DATA_QUALITY_RULE a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId !=null ">
                AND  a.ORGANIZER_ID  = #{organizerId}
            </if>
            <if test="databaseId !=null and databaseId != ''">
                AND  a.DATABASE_ID   = #{databaseId}
            </if>
            <if test="ruleType !=null and ruleType != ''">
                AND  a.RULE_TYPE   = #{ruleType}
            </if>
            <if test="tableName !=null and tableName != ''">
                AND  a.TABLE_NAME   like '%${tableName}%'
            </if>
            <if test="description !=null and description != ''">
                AND  a.DESCRIPTION  like '%${description}%'
            </if>
            <if test="fieldName !=null and fieldName != ''">
                AND  a.FIELD_NAME   like '%${fieldName}%'
            </if>

        </where>
    </select>

    <select id="selectById" resultType="com.aofei.dataquality.entity.Rule">
        select
        <include refid="Base_Column_List"/>
        from DATA_QUALITY_RULE a
        <include refid="Base_Joins"/>
        where  a.RULE_ID = #{id} and a.DEL_FLAG = 0
    </select>

    <update id="updateById">
        update DATA_QUALITY_RULE a
        <set>
              a.RULE_GROUP_ID = #{et.ruleGroupId}
            , a.DESCRIPTION = #{et.description}
            , a.RULE_TYPE = #{et.ruleType}
            , a.DATABASE_ID = #{et.databaseId}
            , a.SCHEMA_NAME = #{et.schemaName}
            , a.TABLE_NAME = #{et.tableName}
            , a.FIELD_NAME = #{et.fieldName}
            , a.FIELD_TYPE = #{et.fieldType}
            , a.IS_ENABLE = #{et.isEnable}
            , a.UPDATE_USER = #{et.updateUser}
            , a.UPDATE_TIME = #{et.updateTime}
        </set>
        where a.RULE_ID = #{et.ruleId}
    </update>

    <update id="deleteById">
        update DATA_QUALITY_RULE a set a.DEL_FLAG = 1  where a.RULE_ID = #{id}
    </update>

</mapper>
