<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataquality.mapper.RuleAttrMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.RULE_ATTR_ID AS ruleAttrId
        , a.RULE_ID AS ruleId
        , a.ORGANIZER_ID AS organizerId
        , a.CODE AS code
        , a.VALUE_STR AS valueStr
        , a.VALUE_RANK AS valueRank
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>

    <select id="findList"  resultType="com.aofei.dataquality.entity.RuleAttr">
        select
        <include refid="Base_Column_List"/>
        from DATA_QUALITY_RULE_ATTR a

        <where>
            a.DEL_FLAG = 0
            <if test="organizerId !=null ">
                AND  a.ORGANIZER_ID  = #{organizerId}
            </if>
            <if test="ruleId !=null ">
                AND  a.RULE_ID  = #{ruleId}
            </if>

        </where>
    </select>

    <update id="deleteById">
        update DATA_QUALITY_RULE_ATTR a set a.DEL_FLAG = 1  where a.RULE_ATTR_ID = #{id}
    </update>

    <update id="deleteByRuleId">
        DELETE FROM DATA_QUALITY_RULE_ATTR  WHERE  RULE_ID = #{ruleId}
    </update>


</mapper>
