<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataquality.mapper.RuleGroupMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aofei.dataquality.entity.RuleGroup">
        <id column="ID_GROUP" property="groupId" />
        <result column="ORGANIZER_ID" property="organizerId" />
        <result column="GROUP_NAME" property="groupName" />
        <result column="DESCRIPTION" property="description" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID_GROUP AS idGroup, ORGANIZER_ID AS organizerId, GROUP_NAME AS groupName, DESCRIPTION AS description, CREATE_USER AS createUser, UPDATE_USER AS updateUser, CREATE_TIME AS createTime, UPDATE_TIME AS updateTime, DEL_FLAG AS delFlag
    </sql>

</mapper>
