<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.firzjb.query.mapper.BatchRevTMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.batch_no AS batchNo
        , a.file_count AS fileCount
        , a.rev_time AS revTime

    </sql>

    <select id="findList"  resultType="org.firzjb.query.entity.BatchRevT">
        select
        <include refid="Base_Column_List"/>
        from s_batch_rev_t a
        <where>
            <if test="batchNo !=null and batchNo != ''">
                AND  a.batch_no  like '%${batchNo}%'
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'load_time' and search_satrt !=null and search_satrt!='' and search_end !=null and search_end!='' ">
                AND  str_to_date(a.rev_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

</mapper>
