<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.firzjb.query.mapper.DataLoadTMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.batch_no AS batchNo
        , a.unit_no AS unitNo
        , a.backup_start AS backupStart
        , a.backup_end AS backupEnd
        , a.backup_time AS backupTime
        , a.backup_count AS backupCount
        , a.backup_valid_count AS backupValidCount
        , a.backup_invalid_count AS backupInvalidCount
        , a.load_time AS loadTime
        , a.load_count AS loadCount
        , a.load_valid_count AS loadValidCount
        , a.load_invalid_count AS loadInvalidCount
        , a.business AS business
        , a.operation AS operation
    </sql>

    <select id="findList"  resultType="org.firzjb.query.entity.DataLoadT">
        select
        <include refid="Base_Column_List"/>
        from s_data_load_t a
        <where>
            <if test="batchNo !=null and batchNo != ''">
                AND  a.batch_no  = #{batchNo}
            </if>
            <if test="unitNo !=null and unitNo != ''">
                AND  a.unit_no   = #{unitNo}
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'backup_time' ">
                AND  str_to_date(a.backup_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'load_time' ">
                AND  str_to_date(a.load_time,'%Y%m%d%H%i%s') between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </select>

    <select id="findBackupFrequencyList" resultType="org.firzjb.query.entity.DataLoadT">
        select
              a.unit_no AS unitNo
            , SUM(a.backup_count) AS backupCount
            , SUM(a.backup_valid_count) AS backupValidCount
            , SUM(a.backup_invalid_count) AS backupInvalidCount
            , SUM(a.load_count) AS loadCount
            , SUM(a.load_valid_count) AS loadValidCount
            , SUM(a.load_invalid_count) AS loadInvalidCount
        from s_data_load_t a
        <where>
            <if test="unitNo !=null and unitNo != ''">
                AND  a.unit_no   = #{unitNo}
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'load_time' ">
                AND  str_to_date(a.load_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'backup_time' ">
                AND  str_to_date(a.backup_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
        </where>
        group by a.unit_no

    </select>

    <select id="findBackupRecordChartDat" resultType="org.firzjb.query.entity.DataLoadT">
        select
          a.unit_no AS unitNo
        , count(1) AS backupCount

        from s_data_load_t a
        <where>
            <if test="unitNo !=null and unitNo != ''">
                AND  a.unit_no   = #{unitNo}
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'load_time' and search_satrt !=null and search_satrt!='' and search_end !=null and search_end!=''">
                AND  str_to_date(a.load_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'backup_time' and search_satrt !=null and search_satrt!='' and search_end !=null and search_end!=''">
                AND  str_to_date(a.backup_time,'%Y%m%d%H%i%s')  between str_to_date(#{search_satrt},'%Y-%m-%d %H:%i:%s') and str_to_date(#{search_end},' %Y-%m-%d %H:%i:%s')
            </if>
        </where>
        group by a.unit_no,a.load_time

    </select>


</mapper>
