<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.query.mapper.ErrorTMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.accept_no AS acceptNo
        , a.unit_no AS unitNo
        , a.backup_file AS backupFile
        , a.error_code AS errorCode
        , a.error_desc AS errorDesc
        , a.curr_operation AS currOperation
        , a.deal_flag AS dealFlag
        , a.create_time AS createTime
        , a.update_time AS updateTime
    </sql>

    <select id="findList"  resultType="com.aofei.query.entity.ErrorT">
        select
        <include refid="Base_Column_List"/>
        from s_error_t a
        <where>
            <if test="acceptNo !=null and acceptNo != ''">
                AND  a.accept_no  like '%${acceptNo}%'
            </if>
            <if test="unitNo !=null and unitNo != ''">
                AND  a.unit_no   = #{unitNo}
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'create_time' ">
                AND  to_date(a.create_time,'yyyy-MM-dd hh:mi:ss')  between to_date(#{search_satrt},'yyyy-MM-dd hh:mi:ss') and to_date(#{search_end},' yyyy-MM-dd hh:mi:ss')
            </if>
            <if test="search_time !=null and search_time != '' and search_time == 'update_time' ">
                AND  to_date(a.update_time,'yyyy-MM-dd hh:mi:ss')  between to_date(#{search_satrt},'yyyy-MM-dd hh:mi:ss') and to_date(#{search_end},' yyyy-MM-dd hh:mi:ss')
            </if>

        </where>
    </select>


</mapper>
