<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataservice.mapper.ServiceAuthMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.AUTH_ID AS authId
        , a.USER_ID AS userId
        , a.SERVICE_ID AS serviceId
        , a.AUTH_IP AS authIp
        , a.USE_DESC AS useDesc
        , a.USE_DEPT AS useDept
        , a.USER_NAME AS userName
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
        , dsu.USERNAME AS username
        , dsi.SERVICE_NAME AS serviceName
    </sql>

    <sql id="Base_Joins">
        LEFT JOIN DATASERVICE_USER dsu ON dsu.USER_ID = a.USER_ID
        LEFT JOIN DATASERVICE_INTERFACE dsi ON dsi.SERVICE_ID = a.SERVICE_ID
    </sql>

    <select id="findList"  resultType="com.aofei.dataservice.entity.ServiceAuth">
        select
        <include refid="Base_Column_List"/>
        from DATASERVICE_AUTH a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
        </where>
    </select>


</mapper>
