<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataservice.mapper.ServiceAuthMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          a.AUTH_ID AS authId
        , a.ORGANIZER_ID AS organizerId
        , a.USER_ID AS userId
        , du.USERNAME AS username
        , a.SERVICE_ID AS serviceId
        , di.SERVICE_NAME AS serviceName
        , di.SERVICE_URL AS serviceUrl
        , a.AUTH_IP AS authIp
        , a.USE_DESC AS useDesc
        , a.USE_DEPT AS useDept
        , a.USER_NAME AS userName
        , a.CREATE_USER AS createUser
        , a.UPDATE_USER AS updateUser
        , a.CREATE_TIME AS createTime
        , a.UPDATE_TIME AS updateTime
        , a.DEL_FLAG AS delFlag
    </sql>

    <sql id="Base_Joins">
         LEFT JOIN DATASERVICE_USER du on du.USER_ID = a.USER_ID
         LEFT JOIN DATASERVICE_INTERFACE di on di.SERVICE_ID = a.SERVICE_ID
    </sql>


    <select id="findList"  resultType="com.aofei.dataservice.entity.ServiceAuth">
        select
        <include refid="Base_Column_List"/>
        from DATASERVICE_AUTH a
        <include refid="Base_Joins"/>
        <where>
            a.DEL_FLAG = 0
            <if test="organizerId != null ">
                AND a.ORGANIZER_ID = #{organizerId}
            </if>
            <if test="userId != null ">
                AND a.USER_ID = #{userId}
            </if>
            <if test="serviceId != null ">
                AND a.SERVICE_ID = #{serviceId}
            </if>
        </where>
    </select>


    <update id="deleteById">
        update DATASERVICE_AUTH a set a.DEL_FLAG = 1  where a.AUTH_ID = #{id}
    </update>

    <update id="deleteByServiceId">
        update DATASERVICE_AUTH a set a.DEL_FLAG = 1  where a.SERVICE_ID = #{serviceId}
    </update>

    <update id="deleteByUserId">
        update DATASERVICE_AUTH a set a.DEL_FLAG = 1  where a.USER_ID = #{userId}
    </update>
</mapper>
