<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aofei.dataservice.mapper.ServiceMonitorStepInfoMapper">



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STEP_ID AS stepId, MONITOR_ID AS monitorId, STEPNAME AS stepname, READRECORDCOUNT AS readrecordcount, RETURNRECORDCOUNT AS returnrecordcount, STARTDATE AS startdate, ENDDATE AS enddate, COSTTIME AS costtime, STATUS AS status, LOGINFO AS loginfo
    </sql>

</mapper>
